@import "tailwindcss";
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/poppins-v23-latin-700.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/poppins-v23-latin-regular.woff2') format('woff2');
}
body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
    /* color: #1C1C1C; */
    /* color: white; */
    font-size: 1rem;
    background-color: #100f15;
    /* background-color: #101828; */
}

/* Blog pages should have light background */
.blog-page {
    background-color: #f5f5f5 !important;
}


.siteContainer {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0;
    align-items: center;
}

@media (min-width: 768px) {
  .custom-flex-row {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* About Me banner */
.about-me-banner {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  height: 40vh;
  background: hsla(267, 83%, 91%, 1);
  background: linear-gradient(315deg, hsla(267, 83%, 91%, 1) 0%, hsla(22, 41%, 88%, 1) 100%);
  background: -moz-linear-gradient(315deg, hsla(267, 83%, 91%, 1) 0%, hsla(22, 41%, 88%, 1) 100%);
  background: -webkit-linear-gradient(315deg, hsla(267, 83%, 91%, 1) 0%, hsla(22, 41%, 88%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#E6D5FB", endColorstr="#EDDDD4", GradientType=1 );
}

/* Article Styles */
.articleStyle {
  max-width: 800px;
  margin-bottom: 6rem;
  padding: 0;
}
.articleStyle h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem
}
.articleStyle h2 {
  font-size: 2rem;
  margin-bottom: 1rem
}
.articleStyle h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem
} 
.articleStyle ul {
  list-style-type: disc;  /* Ensures bullets appear */
  padding-left: 1.25rem;  /* Indents bullets properly */
  margin-bottom: 1rem; 
}
.articleStyle ol {
  list-style-type: decimal;  /* Ensures bullets appear */
  padding-left: 1.25rem;  /* Indents bullets properly */
}
.articleStyle p {
    margin-bottom: 1rem; /* Adds spacing between paragraphs */
}
.articleStyle a {
  color: #2563eb; /* Tailwind's blue-600 */
  text-decoration: underline;
}
.articleStyle img {
  margin-bottom: 2rem;
}