---
import Layout from "../layouts/page.astro";
import Sidebar from "../components/Sidebar.astro";
---

<Layout>
  <h1 class="text-4xl pt-4 pb-4">About</h1>
  <div class="md:flex gap-12 justify-center leading-6 font-light pb-8">
    <p class="max-w-[700px] pt-2">
      Hey there! If you're like me, you love the thrill of learning something
      new. I'm especially passionate about digital marketing and web
      development, and I'm constantly exploring new tools to help me build
      amazing things. I don't just want to learn about these tools; I want to
      put them to work! That’s why I decided to build this blog with Astro and
      document my journey as a digital marketer and web developer enthusiast.
      Whether you're a beginner or a seasoned pro, I hope you'll find something
      here to inspire your own growth and projects.

      <br /><br />

      Thanks so much for stopping by!
    </p>
  </div>
</Layout>
