---
import Layout from "../layouts/default.astro";
---

<Layout>
  <section
    class="relative left-1/2 right-1/2 w-screen -ml-[50vw] -mr-[50vw] bg-[#100f15]"
  >
    <div class="text-9xl">
      <p class="text-white text-6xl">PROJECTS</p>
    </div>
  </section>
</Layout>
