---
import Layout from "../layouts/default.astro";
---

<Layout>
  <section class="ml-4 mr-4 md:flex gap-12 justify-center leading-6 font-light">
    <div>
      <h1 class="text-4xl pt-4 pb-4 text-center">Contact Page</h1>
      <p class="text-center">something here</p>
      <div>
        <a href="/contact"></a>
      </div>
    </div>
  </section>
</Layout>
