---
import Layout from "../layouts/default.astro";
---

<Layout title="Astro Toolbox">
  <div class="min-h-screen flex flex-col">
    <main class="flex-1">
      <h1 class="text-5xl mt-20 mb-10 text-[#21D19F]">Submission Received!</h1>
      <p>
        Thank you for your interest! Head back to the <a
          href="/"
          class="text-indigo-500 underline">home page</a
        >.
      </p>
    </main>
    <!-- The footer will now stay at the bottom -->
  </div>
</Layout>
<style>
  html {
    margin: 0 30px;
  }
</style>
