---
// Props: icon, alt, title, description
const { icon, alt, title, description } = Astro.props;
---

<div class="relative pl-16 text-[#1C1C1C]">
  <dt class="text-base/7 font-semibold">
    <div
      class="absolute top-0 left-0 flex size-10 items-center justify-center rounded-lg bg-indigo-500"
    >
      <img src={icon} alt={alt} class="size-6 object-contain" />
    </div>
    {title}
  </dt>
  <dd class="mt-2 text-base/7">
    {description}
  </dd>
</div>
