<div class="bg-[#2b2b2b] text-white">
  <div class="siteContainer">
    <div
      class="ml-4 mr-4 pt-8 pb-8 flex flex-col text-left custom-flex-row md:justify-between"
    >
      <div id="marketing-footer">
        <h2 class="text-l">Marketing</h2>
        <ul class="text-xs">
          <li>Google Analytics</li>
          <li>Google Tag Manager</li>
          <li>Social Media</li>
        </ul>
      </div>
      <div id="web-development-footer">
        <h2 class="text-l">Web Development</h2>
        <ul class="text-xs">
          <li>HTML</li>
          <li>CSS</li>
          <li>Frameworks</li>
        </ul>
      </div>
      <div id="languages-footer">
        <h2 class="text-l">Languages</h2>
        <ul class="text-xs">
          <li>JavaScript</li>
          <li>Python</li>
        </ul>
      </div>
      <div id="about">
        <h2 class="text-l">About</h2>
        <ul class="text-xs">
          <li>About</li>
        </ul>
      </div>
      <div id="follow">
        <h2 class="text-l">Follow TFM</h2>
        <ul class="text-xs">
          <li>Bluesky</li>
          <li>Instagram</li>
        </ul>
      </div>
    </div>
  </div>
</div>
