---
const navItems = [
  {
    path: "/",
    label: "Home",
  },
  {
    path: "/blog",
    label: "Blog",
  },
  {
    path: "/contact",
    label: "Contact",
  },
];
---

<nav class="dark:bg-[#100f15] text-white">
  <div class="mx-auto max-w-[1240px]">
    <div class="relative flex h-16 items-center justify-between">
      <div class="absolute inset-y-0 right-0 flex items-center sm:hidden">
        <!-- Mobile menu button-->
        <button
          type="button"
          class="mobile-button md:hidden relative inline-flex items-center justify-center rounded-md p-2 text-gray-700 hover:bg-gray-700 hover:text-white focus:ring-2 focus:ring-white focus:outline-hidden focus:ring-inset"
          aria-controls="mobile-menu"
          aria-expanded="false"
        >
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">Open main menu</span>
          <!--
                Icon when menu is closed.
    
                Menu open: "hidden", Menu closed: "block"
              -->
          <svg
            class="block size-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
            data-slot="icon"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
          </svg>
          <!--
                Icon when menu is open.
    
                Menu open: "block", Menu closed: "hidden"
              -->
          <svg
            class="hidden size-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
            data-slot="icon"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18 18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <div
        class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-between"
      >
        <div class="flex shrink-0 items-center">
          <!-- <img
            class="h-8 w-auto"
            src="/src/assets/elevate_light.png"
            alt="Your Company"
          /> -->
          <a href="/" class="font-bold md:">The Frontend Marketer</a>
        </div>
        <div class="hidden sm:ml-6 sm:block ml-auto">
          <ul class="flex space-x-4">
            {
              navItems.map((item) => {
                return (
                  <li>
                    <a href={item.path}>{item.label}</a>
                  </li>
                );
              })
            }
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="mobile-menu hidden sm:hidden right-0" id="mobile-menu">
    <div class="space-y-1 px-2 pt-2 pb-3">
      {
        navItems.map((item) => (
          <a
            href={item.path}
            class="block rounded-md px-3 py-2 text-base font-medium text-gray-700 hover:bg-gray-700 hover:text-white"
          >
            {item.label}
          </a>
        ))
      }
    </div>
  </div>
</nav>

<script>
  const mobileButton = document.querySelector(".mobile-button");
  const mobileMenu = document.querySelector(".mobile-menu");

  mobileButton?.addEventListener("click", () => {
    mobileMenu?.classList.toggle("hidden");
  });
</script>
