<form id="search-form" class="flex items-center" action="/articles/search">
  <label for="search-input" class="sr-only">Search</label>
  <div class="relative w-full">
    <input
      type="text"
      id="query"
      name="query"
      class="bg-gray-50 border border-gray-300 text-[#1C1C1C] text-sm rounded-lg focus:ring-[#18CB95] focus:border-[#18CB95] block w-full p-2.5 outline-none"
      placeholder="Search articles..."
      required
    />
  </div>
</form>
