---
import { getCollection } from "astro:content";

const blogPosts = (await getCollection("blog")).sort(
  (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
);
const categories = [
  "Google Analytics",
  "Google Tag Manager",
  "HTML and CSS",
  "Frameworks",
];
const topics = ["Marketing", "Web Development"];
---

<aside
  id="sidebar"
  class="md:block hidden lg:w-1/5 bg-gray-100 p-6 mt-4 rounded-lg shadow-md w-[300px] h-fit self-start"
>
  <!-- Categories -->
  <h3 class="text-lg font-semibold border-b pb-2 mb-4">Categories</h3>
  <ul class="space-y-2">
    {
      categories.map((category) => (
        <li>
          <a
            href={`/${category.toLowerCase().replace(/\s+/g, "-")}/`}
            class="text-[#1C1C1C] hover:underline hover:text-[#0093ff]"
          >
            {category}
          </a>
        </li>
      ))
    }
  </ul>
</aside>
