---
import { getCollection } from "astro:content";

const blogPosts = (await getCollection("blog")).sort(
  (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
);
const categories = ["Marketing", "Web Development"];
const topics = [
  "Google Analytics",
  "Google Tag Manager",
  "Python",
  "HTML",
  "CSS",
  "JavaScript",
];
---

<aside class="md:block hidden lg:w-1/4 bg-gray-100 p-6 rounded-lg shadow-md">
  <!-- Search Bar -->
  <form id="search-form" class="flex items-center" action="/articles/search">
    <label for="search-input" class="sr-only">Search</label>
    <div class="relative w-full">
      <input
        type="text"
        id="query"
        name="query"
        class="bg-gray-50 border border-gray-300 text-[#1C1C1C] text-sm rounded-lg focus:ring-[#18CB95] focus:border-[#18CB95] block w-full p-2.5 outline-none"
        placeholder="Search articles..."
        required
      />
    </div>
  </form>
  <!-- Categories and Topics -->
  <h3 class="text-lg font-semibold border-b pb-2 mb-4">Categories</h3>
  <ul class="space-y-2">
    {
      categories.map((category) => (
        <li>
          <a
            href={`/${category.toLowerCase().replace(/\s+/g, "-")}/`}
            class="text-[#1C1C1C] hover:underline hover:text-[#0093ff]"
          >
            {category}
          </a>
        </li>
      ))
    }
  </ul>
  <h3 class="text-lg font-semibold border-b pb-2 mb-4">Topics</h3>
  <ul class="space-y-2">
    {
      topics.map((category) => (
        <li>
          <a
            href={`/${category.toLowerCase().replace(/\s+/g, "-")}/`}
            class="text-[#1C1C1C] hover:underline hover:text-[#0093ff]"
          >
            {category}
          </a>
        </li>
      ))
    }
  </ul>
</aside>
