---
import Navbar from "../components/Navbar.astro";
import Footer from "../../src/components/Footer.astro";
import "../styles/global.css";
const { title } = Astro.props;
const { description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content={description ||
        "The Frontend Marketer is a blog about digital marketing and frontend web development."}
    />
    <title>{title || "The Frontend Marketer"}</title>
    <link rel="icon" type="image/svg+xml" href="/tfm_favicon.png" />
  </head>
  <body class={Astro.props.bodyClass}>
    <header>
      <Navbar />
    </header>
    <main class="siteContainer">
      <slot />
    </main>
    <footer>
      <Footer />
    </footer>
  </body>
</html>
