---
import Layout from "../layouts/default.astro";
const { title } = Astro.props;
const { description } = Astro.props;
---

<Layout title={title} description={description}>
  <section class="ml-4 mr-4">
    <slot />
  </section>
</Layout>
